/* Import */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Quicksand:wght@300;400;700&display=swap');

/* Fonts*/
// font-family: 'Amatic SC', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Quicksand', sans-serif;


/* Color Theme Swatches in Hex */
.Afternoon-by-the-river-1-hex {
    color: #2e5159;
  }
  .Afternoon-by-the-river-2-hex {
    color: #142426;
  }
  .Afternoon-by-the-river-3-hex {
    color: #8c8577;
  }
  .Afternoon-by-the-river-4-hex {
    color: #d9bea7;
  }
  .Afternoon-by-the-river-5-hex {
    color: #f2d6bd;
  }


// Global Settings

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

//   Variable Declarations
$primary-dark:#142426;
$primary-light:#f2d6bd;


@mixin heading-font {
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
  }

@mixin light-font {
    color: $primary-light;
    font-family: 'Quicksand', sans;
}

// Header 
header {
    background:$primary-dark;
    color:$primary-light;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    @include light-font();
    font-family: 'Amatic SC', cursive;
    font-size: 1.75rem;
    padding-right: 2rem;
    text-decoration: none;
    box-sizing: border-box;
}

nav a:hover{
    box-sizing: border-box;
    color: #8c8577;
    text-decoration: underline;
    font-size: 1.87em;
}

header img {
    height: 50px;
    margin: 12.5px;
    display: block;
}

header img:hover {
    height: 52px;
    margin: 12.5px;
}



// Main 

main {
    background: #2e5159;
    color: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: 'Amatic SC', cursive;
   width: 100%;
}

main div {
    text-align: center;
}

main h1{ 
    @include heading-font();
    font-size: 4rem;
}

main h2 {
    font-size: 2rem;
}

main p {
    font-family: 'Quicksand', sans-serif;
    margin: 0.5em 0;
    // font-size: 1.5rem;
}

main a {
    @include light-font();
    border: 1px solid #f2d6bd;
    border-radius: 5%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 00.75rem;
}

main a:hover{
    background: $primary-light;
    color: $primary-dark;
}

.container {
    padding: 2rem;
}

// Footer 

footer {
    // height: auto;
    background: $primary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    // justify-content: center;
    // position: relative;
}

// .footer-cont {
//     // display: flex;
//     // align-items: center;
// }

.footer-cont i {
    padding: 0.5rem;
    color: $primary-light;
    margin-top: 1rem;
}

footer h3 {
    font-family: 'Amatic SC', cursive;
    color: $primary-light;
    padding: 1rem 0 0.5rem 0;
    // position: absolute;
    // right: 0;
}

@media screen and (min-width: 450px){
    main {
    padding: 2rem;
    }
    
}






// footer {
//     height: 70px;
//     background: $primary-dark;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
// }

// // .footer-cont {
// //     // display: flex;
// //     // align-items: center;
// // }

// .footer-cont i {
//     padding: 0.5rem;
//     color: $primary-light;
// }

// footer h3 {

//     font-family: 'Amatic SC', cursive;
//     color: $primary-light;
//     padding: 1rem;
//     position: absolute;
//     right: 0;
// }