@import "variables.scss"; 

// Main 
.ind-main {
    align-items: center;
    justify-content: center;
    flex: 1;
    text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 1.0);
    text-align: center;
    color: $primary-light;

    h1{
        font-size: 4.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        margin: 0.5rem 0;
        color: $primary-light;
    }
    a {
        @include light-font();
        border: 1px solid $primary-light;
        border-radius: 5px;
        display: inline-block;
        padding: 0.5rem;
        margin-top: 1rem;
        font-size: 1rem;
        text-shadow: none;
    }
    a:hover{
        background: $primary-light;
        color: $primary-dark;
        transition: 0.3s;
    }
}

