/* Import */
/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Quicksand:wght@300;400;700&display=swap");
.Afternoon-by-the-river-1-hex {
  color: #2e5159;
}

.Afternoon-by-the-river-2-hex {
  color: #142426;
}

.Afternoon-by-the-river-3-hex {
  color: #8c8577;
}

.Afternoon-by-the-river-4-hex {
  color: #d9bea7;
}

.Afternoon-by-the-river-5-hex {
  color: #f2d6bd;
}

/* Fonts*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #2e5159;
}

main {
  display: flex;
  color: #f2d6bd;
  font-family: "Amatic SC", cursive;
  color: #142426;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

p {
  color: #142426;
  font-family: "Quicksand", sans-serif;
}

header {
  background: #142426;
  font-family: "Amatic SC", cursive;
  color: #f2d6bd;
  font-family: "Quicksand", sans;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  font-family: "Amatic SC", cursive;
}

.hamburger {
  display: none;
  margin-right: 1rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #f2d6bd;
  border-radius: 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2em;
}

.nav-link {
  font-size: 2em;
  font-weight: 400;
  color: #f2d6bd;
}

.nav-link:hover {
  color: #8c8577;
  text-decoration: underline;
  transition: 0.3s;
}

header img {
  height: 50px;
  display: block;
}

.bg-image img {
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.15;
  z-index: -1;
}

footer {
  background: #142426;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
footer i {
  padding: 0.5rem 0;
  color: #f2d6bd;
  margin: 0.75rem;
}
footer i:hover {
  color: #8c8577;
  transition: 0.3s;
}
footer h3 {
  font-family: "Amatic SC", cursive;
  color: #f2d6bd;
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  footer h3 {
    padding: 1rem;
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #142426;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}/*# sourceMappingURL=style.css.map */