@import "variables.scss"; 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Poppins:wght@300;500;700&family=Quicksand:wght@300;400;700&display=swap');


.contact-main {
    margin: auto auto;
    display: flex;
    padding: 2rem;
    width: auto;
    max-width: 1080px;
    flex-wrap: wrap;

}

section {
    border-radius: 5px;
    color: $primary-dark;
    background-color: $primary-light;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
}

h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact-box {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px black;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    color: $primary-dark;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}

.field:hover{
    // background-color: $hover-dark;
    color: $hover-dark;
}

.field:focus {
    // background-color: $primary-mid;
    border: 2px solid $primary-dark;
    color: $hover-dark;
}
.area {
    min-height: 150px;
    max-width: 790px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color:$primary-mid;
    cursor: pointer;
    outline: none;
    border: none;
    color: $primary-light;
    transition: 0.3s;
    border-radius: 5px;
}

.btn:hover {
    color: $primary-dark;
    background-color: $hover-dark;
}