@import "variables.scss"; 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Poppins:wght@300;500;700&family=Quicksand:wght@300;400;700&display=swap');


// Main 


.ind-main {
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2rem;
    //  border: 1px solid #f2d6bd
    text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 1.0);
}

.ind-main div {
    text-align: center;
}

.ind-main h1{ 
    font-size: 4rem;
}

// Title Animation 

// .ind-main h1 {
//     animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
//     transform: translate3d(0, 0, 0);
//     backface-visibility: hidden;
//     perspective: 500px;
//   }
  
//   @keyframes shake {
//     10%, 90% {
//       transform: translate3d(-1px, 0, 0);
//     }
  
//     20%, 80% {
//       transform: translate3d(2px, 0, 0);
//     }
  
//     30%, 50%, 70% {
//       transform: translate3d(-4px, 0, 0);
//     }
  
//     40%, 60% {
//       transform: translate3d(4px, 0, 0);
//     }
//   }

.ind-main h2 {
    font-size: 2rem;
}

.ind-main p {
    font-family: 'Quicksand', sans-serif;
    margin: 0.5rem 0;
    color:$primary-light;
}

.ind-main a {
    @include light-font();
    border: 1px solid #f2d6bd;
    border-radius: 5%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    text-shadow: none;
}

.ind-main a:hover{
    background: $primary-light;
    color: $primary-dark;
    transition: 0.3s;
}
