/* Import */
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Quicksand:wght@300;400;700&display=swap");

/* Fonts*/
// font-family: 'Amatic SC', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;


/* Color Theme Swatches in Hex */
.Afternoon-by-the-river-1-hex {
    color: #2e5159;
  }
  .Afternoon-by-the-river-2-hex {
    color: #142426;
  }
  .Afternoon-by-the-river-3-hex {
    color: #8c8577;
  }
  .Afternoon-by-the-river-4-hex {
    color: #d9bea7;
  }
  .Afternoon-by-the-river-5-hex {
    color: #f2d6bd;
  }


// Global Settings

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #2e5159;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

a:visited{
    color: inherit;
}
p {
    @include p-font;
}

//   Variable Declarations


@mixin heading-font {
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
  }

@mixin light-font {
    color: $primary-light;
    font-family: 'Quicksand', sans;
}

// Header 
header {
    background:$primary-dark;
    // height: 80px;
    font-family: 'Amatic SC', cursive;
    @include light-font();
    position: sticky;
    z-index: 2;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    font-family: 'Amatic SC', cursive;
    
}

.hamburger {
    display: none;
    margin-right: 1rem;
    
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $primary-light;
    border-radius: 5px;
    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 2em;
}

.nav-link{
    font-size: 2em;
    font-weight: 400;
    color: $primary-light;
}

.nav-link:hover{
    color: #8c8577;
    text-decoration: underline;
    transition: 0.3s;
}

header img {
    height: 50px;
    display: block;
}

// Main 

.bg-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    object-fit:cover;
    z-index: -1;
    // animation:spin 360s linear infinite;
    overflow: hidden;
    // filter: blur(1px);
}

@keyframes spin { 100% { transform:rotate(360deg); } }

main {
    color: $primary-light;
    display: flex;
    font-family: 'Amatic SC', cursive;
}

.ind-main {
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2rem;
    //  border: 1px solid #f2d6bd
    text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 1.0);
}

.ind-main div {
    text-align: center;
}

.ind-main h1{ 
    font-size: 4rem;
}

// Title Animation 

// .ind-main h1 {
//     animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
//     transform: translate3d(0, 0, 0);
//     backface-visibility: hidden;
//     perspective: 500px;
//   }
  
//   @keyframes shake {
//     10%, 90% {
//       transform: translate3d(-1px, 0, 0);
//     }
  
//     20%, 80% {
//       transform: translate3d(2px, 0, 0);
//     }
  
//     30%, 50%, 70% {
//       transform: translate3d(-4px, 0, 0);
//     }
  
//     40%, 60% {
//       transform: translate3d(4px, 0, 0);
//     }
//   }

.ind-main h2 {
    font-size: 2rem;
}

.ind-main p {
    font-family: 'Quicksand', sans-serif;
    margin: 0.5rem 0;
    color:$primary-light;
}

.ind-main a {
    @include light-font();
    border: 1px solid #f2d6bd;
    border-radius: 5%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    text-shadow: none;
}

.ind-main a:hover{
    background: $primary-light;
    color: $primary-dark;
    transition: 0.3s;
}

// Footer 

footer {
    background: $primary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    // overflow: auto;
    // position:absolute;
    bottom: 0;
    width: 100%;

}

.footer-cont i {
    padding: 0.5rem;
    color: $primary-light;
    // margin-top: 1rem;
}

.footer-cont i:hover {
    color: $hover-dark;
    transition: 0.3s;
}

footer h3 {
    font-family: 'Amatic SC', cursive;
    color: $primary-light;
    padding: 1rem 0 0.5rem 0;
    // position: absolute;
    // right: 0;
}


// Media Queries
@media screen and (min-width: 768px){
    .main-cont {
    padding: 2rem;
    }
    
    footer {
    // height: auto;
    align-items: center;
    justify-content: center;
}
.footer-cont i {
    display: inline-block;
}

footer h3 {
    padding: 1rem;
    position: absolute;
    right: 0;
}
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: $primary-dark;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
