// Variable Declarations

$primary-dark:#142426;
$primary-light:#f2d6bd;
$primary-mid:#2e5159;
$hover-dark:#8c8577;

@mixin p-font {
    color: $primary-dark;
    font-family: 'Quicksand', sans-serif;
}

@mixin heading-font {
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
  }

@mixin light-font {
    color: $primary-light;
    font-family: 'Quicksand', sans;
}

//   Variable Declarations



// Import
